<h3 class="text-center">New Job Posting</h3>
<form method="POST" action="/jobs"> 
    <label>Job Title: </label>
    <input type="text" id="title" name="title">
    <label>Job Description: </label>
    <input type="text" id="desc" name="description">
    <label>Job Release Date: </label>
    <input type="date" id="date" name="release_date">
    <label>Employer Name: </label>
    <input type="text" id="employer" name="employer">
    <label>Job Location: </label>
    <input type="text" id="location" name="location">
    <label>Job Type: </label>
    <input type="text" id="job_type" name="job_type">

    <input type="submit" value="submit">
</form>
