<form>
    <label>Job Title: </label>
    <input type="text" id="title" name="title">
    <label>Job Description: </label>
    <input type="text" id="desc" name="desc">
    <label>Job Release Date: </label>
    <input type="date" id="date" name="date">
    <label>Employer Name: </label>
    <input type="text" id="employer" name="employer">
    <label>Job Type: </label>
    <input type="text" id="job_type" name="job_type">
    <label></label>
    <input>
</form>
