<div class="jumbotron">

<h3 class="display-4">Your Relier Account</h3>

    <a href="/jobs" class="btn btn-primary">Available Jobs</a>
    <a href="/users" class="btn btn-primary">Delete account</a>

</div>