<div class="jumbotron">

<h3 class="display-4">Your Relier Account</h3>
<p>Sucess You Logged into your Account</p>

    <a href="/jobs" class="btn btn-primary">Available Jobs</a>
    <a href="/users" class="btn btn-danger">Delete account</a>

</div>