<h3>Thanks for Logging In</h3>

<form method="POST" action="/login">
    <label>Username: </label>
    <input type="text" id="username" name="username">
    <label>E-mail Address: </label>
    <input type="text" id="email" name="email">
    <label>Password: </label>
    <input type="text" id="password" name="password">

    <input type="submit" id="log in" name="log in">
</form>