<h3>Thanks for Signing Up</h3>

<form method="POST" action="/signup">
    <label>Username: </label>
    <input type="text" id="username" name="username">
    <label>E-mail Address: </label>
    <input type="text" id="email" name="email">
    <label>Password: </label>
    <input type="password" id="password" name="password">

    <input type="submit" id="sign up" name="sign up">
</form>