<div class="jumbotron">
    <h1 class="display-4">Welcome to Relier</h1>
    <p class="lead">An Amazing Job Board Dedicated to helping you find the perfect fit</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header text-center">
            Employers
            </div>
            <div class="card-body">
                <h5>Please Login</h5>
                <a href="/users/login" class="btn btn-primary">Log In</a>
                <p>If you do not have an account Please Sign UP!</p>
                <a href="/users/signup" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                Available Jobs
                </div>
                <div class="card-body">
                    <h5>Please Post your job here</h5>
                    <a href="/jobs/new" class="btn btn-primary">Job Postings</a>
                </div>
            </div>
        </div>
    </div>
</div>

