<div class="jumbotron">

    <h1 class="display-4">Welcome to Relier</h1>
    <p class="lead">An Amazing Job Board Dedicated to helping you find the perfect fit</p>
</div>

<div class="card">
    <div class="card-header">
    Job Seekers
    </div>
    <div class="card-body">
        <h5>Please Login</h5>
        <a href="users/login" class="btn btn-primary">Log In</a>
        <p>If you do not have an account Please Sign UP!</p>
            <a href="users/signup" class="btn btn-primary">Sign Up</a>
    </div>
</div>